__pycache__/
.venv/
venv/
.vscode/
.idea/
htmlcov/
dist/
/node_modules
.idea
.vscodeworkspace/
raycast-env.d.ts
raycast-env/
.raycast-swift-build
.swiftpm
compiled_raycast_swift
venv/

.coverage
*.code-workspace
.*_cache
.env
*.pyc
*.db
poetry.lock
.DS_Store
*.log
